body {
    background-color: rgb(16, 14, 22);
    margin: 0;
    padding: 0;
}

#barra{
    background-color: rgba(53, 52, 56, 0.979);
    padding: 10px;
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1000; 
    display: flex; 
    align-items: center; 
}

.icone-barra{
    align-items: center;
    text-decoration: none; 
    font-size: 2rem; 
    padding: 12px; 
    margin: 0px 40px; 
    transition: color 0.18s ease, transform 0.18s ease; 
}

.icone-barra:hover {
    color: rgb(117, 117, 117); 
    transform: scale(1.1); 
}

#logo{
    padding: 5px;
    margin-right: 20px;
    width: 100px; 
    height: 100px;
}


#imagem-fundo {
    margin-top: 130px;
    width: 100vw;  
    height: auto;
    object-fit: contain;  
    display: block;
}

.secao {
    padding: 100px 20px;
    font-size: 1.5rem;
}

.secao > div{
    margin-bottom: 250px;
}

.item-explicacao{
    display: flex; 
    align-items: flex-start; 
    justify-content: center; 
    gap: 50px; 
}

.txt-explicacao{
    background-image: url('imgcss/fundo_explicacaoprojeto.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.712);
}

.txt-explicacao::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.712); 
    border-radius: 8px; 
    z-index: 1;
}
.txt-explicacao p {
    position: relative;
    z-index: 2; 
}

.item-materias{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    gap: 50px; 
}

.materias-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    max-width: 1000px; 
}

.foto-materias{
    width: 470px;
    height: 723px;
    display: block;
}

.item-feira{
    display: flex; 
    align-items: flex-start; 
    justify-content: center; 
    gap: 50px; 
}

.txt-feira{
    background-image: url('imgcss/codigos.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 6px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.712);
}

.txt-feira::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.712); 
    border-radius: 6px; 
    z-index: 1;
}
.txt-feira p {
    position: relative;
    z-index: 2; 
}

.agradecimentos{
    background-color: rgba(36, 45, 70, 0.74);
    width: 100dvw;  
    height: auto;  
    padding: 50px 20px; 
}

.item-agradecimentos{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    gap: 100px; 
}

.foto-agradecimentos{
    width: 450px;
    height: 450px;
    margin-bottom: 40px; 
}

.logo-agradecimentos{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    gap: 100px; 
    margin-top: 100px;
}

.logo-agradecimentos img {
    width: 450px;
    height: auto; 
}

.tela_jogo{
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 1.7vw;
}

@font-face {
    font-family: 'VT323';
    src: url('font/vt323/VT323.ttf') format('truetype');
}
@font-face {
    font-family: 'Cinzel';
    src: url('font/cinzel/Cinzel.ttf') format('truetype');
}

.texto{
    color: rgb(245, 255, 250);
    text-align: center;
}

.titulo-barra{
    font-family: 'VT323', sans-serif;
}

.titulo{
    font-family: 'VT323', sans-serif;
    font-size: 5rem;
}

.subtitulo{
    font-family: 'VT323', sans-serif;
    font-size: 3rem;
}

.descricao{
    font-family: 'Cinzel', sans-serif;
    padding: 20px; 
    margin: 20px auto; 
    max-width: 500px;
    background-color: rgba(0, 0, 0, 0.150); 
    border-radius: 8px; 
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px); 
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.fade-in {
    opacity: 0; 
    animation: fadeIn 1.3s ease-in-out forwards; 
}